<form accept-charset="UTF-8" action="/apartments" id="filter" method="post">
  <div style="margin:0;padding:0;display:inline">
    <input name="utf8" type="hidden" value="✓">
    <input name="authenticity_token" type="hidden" value="V5YTNhuAaysi8HzMTgM8BN6iL2cDo8EQ3GLHCMBToqE=">
  </div>
  <input id="page" name="page" type="hidden" value="1">
  <input id="sort" name="sort" type="hidden">
  <input id="city" name="city" type="hidden" value="New York">
  <h5>Filter by</h5>
  <a href="#" class="filter-clear">Clear all</a>
  <h4>Availablility</h4>
  <fieldset class="embed-label perform-availability-check" id="sidebar-dates">
    <label for="check_in">From</label>
    <input class="date-picker check-in hasDatepicker" id="sidebar-check-in" name="check_in" type="text" value="11/08/2017">
    <label for="check_out">To</label>
    <input class="date-picker check-out hasDatepicker" id="sidebar-check-out" name="check_out" type="text" value="12/07/2017">
  </fieldset>
  <h4>Location</h4>
  <fieldset>
    <ul>
      <li>
        <input id="neighborhoods_Downtown" name="neighborhoods[]" type="checkbox" value="Downtown">
        <label for="neighborhoods_Downtown">Downtown</label>
      </li>
    </ul>
  </fieldset>
  <h4>Price Range</h4>
  <fieldset>
    <span class="price-min">$50</span>
    <span class="price-max">$1000</span>
    <div class="range ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
      <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div>
      <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"></a><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%;"></a></div>
    <input id="min_price" name="min_price" type="hidden" value="50">
    <input id="max_price" name="max_price" type="hidden" value="1000">
  </fieldset>
  <h4>Bedrooms</h4>
  <fieldset>
    <select id="bedrooms" name="bedrooms" class="chzn-done" style="display: none;">
      <option value="any" selected="">Any</option>
      <option value="0">0 (Studio/Loft)</option>
      <option value="1">1 Bedroom</option>
      <option value="2">2 Bedrooms</option>
      <option value="3">3 Bedrooms</option>
      <option value="4">4+ Bedrooms</option>
    </select>
    <div class="chzn-container chzn-container-single chzn-container-single-nosearch" style="width: 100%;" title="" id="bedrooms_chzn"><a class="chzn-single" tabindex="-1"><span>Any</span>
              <div><b></b></div>
            </a>
      <div class="chzn-drop">
        <div class="chzn-search">
          <input type="text" autocomplete="off" readonly="">
        </div>
        <ul class="chzn-results"></ul>
      </div>
    </div>
  </fieldset>
  <h4>Number of Apartments</h4>
  <fieldset>
    <p class="sub-heading">In the same building</p>
    <select id="units_in_building" name="units_in_building" class="chzn-done" style="display: none;">
      <option value="0" selected="">Any</option>
      <option value="2">2 Apartments</option>
      <option value="3">3 Apartments</option>
      <option value="4">4 Apartments</option>
      <option value="5">5 Apartments</option>
      <option value="6">6+ Apartments</option>
    </select>
    <div class="chzn-container chzn-container-single chzn-container-single-nosearch" style="width: 100%;" title="" id="units_in_building_chzn"><a class="chzn-single" tabindex="-1"><span>Any</span>
              <div><b></b></div>
            </a>
      <div class="chzn-drop">
        <div class="chzn-search">
          <input type="text" autocomplete="off" readonly="">
        </div>
        <ul class="chzn-results"></ul>
      </div>
    </div>
  </fieldset>
  <h4>Amenities</h4>
  <fieldset>
    <ul>
      <li>
        <input id="amenities_TV" name="amenities[]" type="checkbox" value="TV">
        <label for="amenities_TV">TV</label>
      </li>
      <li>
        <input id="amenities_Heating" name="amenities[]" type="checkbox" value="Heating">
        <label for="amenities_Heating">Heating</label>
      </li>
      <li>
        <input id="amenities_Elevator_in_Building" name="amenities[]" type="checkbox" value="Elevator in Building">
        <label for="amenities_Elevator_in_Building">Elevator in Building</label>
      </li>
      <li>
        <input id="amenities_Doorman" name="amenities[]" type="checkbox" value="Doorman">
        <label for="amenities_Doorman">Doorman</label>
      </li>
      <li>
        <input id="amenities_Internet" name="amenities[]" type="checkbox" value="Internet">
        <label for="amenities_Internet">Internet</label>
      </li>
      <li>
        <input id="amenities_Hot_Tub" name="amenities[]" type="checkbox" value="Hot Tub">
        <label for="amenities_Hot_Tub">Hot Tub</label>
      </li>
      <li class="maxlist-hidden" style="display: none;">
        <input id="amenities_Air_Conditioning" name="amenities[]" type="checkbox" value="Air Conditioning">
        <label for="amenities_Air_Conditioning">Air Conditioning</label>
      </li>
      <li class="maxlist-hidden" style="display: none;">
        <input id="amenities_Pets_Allowed" name="amenities[]" type="checkbox" value="Pets Allowed">
        <label for="amenities_Pets_Allowed">Pets Allowed</label>
      </li>
      <li class="maxlist-hidden" style="display: none;">
        <input id="amenities_Family_Kid_Friendly" name="amenities[]" type="checkbox" value="Family/Kid Friendly">
        <label for="amenities_Family_Kid_Friendly">Family/Kid Friendly</label>
      </li>
      <li class="maxlist-hidden" style="display: none;">
        <input id="amenities_Breakfast" name="amenities[]" type="checkbox" value="Breakfast">
        <label for="amenities_Breakfast">Breakfast</label>
      </li>
      <li class="maxlist-hidden" style="display: none;">
        <input id="amenities_Smoking_Allowed" name="amenities[]" type="checkbox" value="Smoking Allowed">
        <label for="amenities_Smoking_Allowed">Smoking Allowed</label>
      </li>
      <li class="maxlist-hidden" style="display: none;">
        <input id="amenities_Private_Outdoor_Space" name="amenities[]" type="checkbox" value="Private Outdoor Space">
        <label for="amenities_Private_Outdoor_Space">Private Outdoor Space</label>
      </li>
      <li class="maxlist-hidden" style="display: none;">
        <input id="amenities_Pool" name="amenities[]" type="checkbox" value="Pool">
        <label for="amenities_Pool">Pool</label>
      </li>
      <li class="maxlist-hidden" style="display: none;">
        <input id="amenities_Wireless_Internet" name="amenities[]" type="checkbox" value="Wireless Internet">
        <label for="amenities_Wireless_Internet">Wireless Internet</label>
      </li>
      <li class="maxlist-hidden" style="display: none;">
        <input id="amenities_Kitchen" name="amenities[]" type="checkbox" value="Kitchen">
        <label for="amenities_Kitchen">Kitchen</label>
      </li>
      <li class="maxlist-hidden" style="display: none;">
        <input id="amenities_Gym" name="amenities[]" type="checkbox" value="Gym">
        <label for="amenities_Gym">Gym</label>
      </li>
      <li class="maxlist-hidden" style="display: none;">
        <input id="amenities_Washer" name="amenities[]" type="checkbox" value="Washer">
        <label for="amenities_Washer">Washer</label>
      </li>
      <li class="maxlist-hidden" style="display: none;">
        <input id="amenities_Handicap_Accessible" name="amenities[]" type="checkbox" value="Handicap Accessible">
        <label for="amenities_Handicap_Accessible">Handicap Accessible</label>
      </li>
      <li class="maxlist-hidden" style="display: none;">
        <input id="amenities_Cable_TV" name="amenities[]" type="checkbox" value="Cable TV">
        <label for="amenities_Cable_TV">Cable TV</label>
      </li>
      <li class="maxlist-hidden" style="display: none;">
        <input id="amenities_Roof_Deck" name="amenities[]" type="checkbox" value="Roof Deck">
        <label for="amenities_Roof_Deck">Roof Deck</label>
      </li>
      <li class="maxlist-hidden" style="display: none;">
        <input id="amenities_Dryer" name="amenities[]" type="checkbox" value="Dryer">
        <label for="amenities_Dryer">Dryer</label>
      </li>
      <li class="maxlist-hidden" style="display: none;">
        <input id="amenities_Free_parking_on_premise" name="amenities[]" type="checkbox" value="Free parking on premise">
        <label for="amenities_Free_parking_on_premise">Free parking on premise</label>
      </li>
      <li class="maxlist-hidden" style="display: none;">
        <input id="amenities_Buzzer_Wireless_Intercom" name="amenities[]" type="checkbox" value="Buzzer/Wireless Intercom">
        <label for="amenities_Buzzer_Wireless_Intercom">Buzzer/Wireless Intercom</label>
      </li>
      <li class="maxlist-hidden" style="display: none;">
        <input id="amenities_Indoor_Fireplace" name="amenities[]" type="checkbox" value="Indoor Fireplace">
        <label for="amenities_Indoor_Fireplace">Indoor Fireplace</label>
      </li>
    </ul>
    <p class="maxlist-more"><a href="#">show more</a></p>
  </fieldset>
  <!-- <a href="#" class="btn">See Results</a> -->
</form>
