<% page_title @current_agency.company_name  %>
<% content_for :page_script do %>
  <%= javascript_tag do %>
    $(document).ready(
    function(){
      $('#inmo-search-results').html("<%= j (render 'search_results') %>");
      INMOAPP.truncateDescriptions();
      INMOAPP.sortSearchResults();
    }
  );
  <% end %>
<% end %>
<%# specify a body class (if you want one) %>
<% content_for :body_class, 'results' %>
<div id="hero" style="background: url(https://images.unsplash.com/photo-1470082719408-b2843ab5c9ab?dpr=1&auto=compress,format&fit=crop&w=1782&h=&q=80&cs=tinysrgb) no-repeat;background-size: cover;
    background-position: 50% 50%;">
  <figure></figure>
</div>
<div id="main">
  <div class="site-content panel panel-top">
    <div class="results-meta">
      <p>
        <strong class="result-count">225</strong>
        <strong>results</strong>
        <strong class="result-entity"> for New York </strong>
      </p>
      <div class="date-range">
        (available between <span class="check-in-date">11/08/2017</span>
        and <span class="check-out-date">12/07/2017</span>)
                    </div>
    </div>
    <div id="primary" role="main">
      <div id="inmo-search-results">
      </div>
      <!-- #results -->
      <section>
        <form accept-charset="UTF-8" action="/contact_us" id="contact-us-form" method="post">
          <div style="margin:0;padding:0;display:inline">
            <input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="V5YTNhuAaysi8HzMTgM8BN6iL2cDo8EQ3GLHCMBToqE=">
          </div>
          <p>Can't find what your looking for?</p>
          <p>Get in touch and we'll find you a great apartment.</p>
          <div class="column">
            <div>
              <label class="visuallyhidden" for="contact_us_name">Name</label>
              <input class="required_text_input" data-error="Please enter your name" id="block_1" name="contact_us_name" placeholder="Name" type="text" value="Pini">
            </div>
            <div>
              <label class="visuallyhidden" for="contact_us_email">Email</label>
              <input class="required_text_input" data-error="Please enter your email" id="block_2" name="contact_us_email" placeholder="Email" type="text" value="pa@staybay.com">
            </div>
          </div>
          <div class="column">
            <label class="visuallyhidden" for="contact_us_message">Message</label>
            <textarea class="required_text_input" cols="30" data-error="Please enter your message" id="block_3" name="contact_us_message" placeholder="Let us know how we can help!" rows="10"></textarea>
          </div>
          <input class="btn wide" id="contact-us-send" name="commit" type="submit" value="Send">
        </form>
      </section>
    </div>
    <!-- primary -->
    <div id="secondary">
      <div class="widget map">
        <div id="map" style="position: relative; overflow: hidden;">
          <% if @map_markers.length > 0 %>
            <div id="inmo-map-canvas" class="map-canvas no-margin">
              <inmo-map ref="inmomap" style="min-height: 60px;height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(229, 227, 223);"
    :markers="<%= @map_markers.to_json %>"
        :zoom="15">
              </inmo-map>
            </div>
          <% end %>
        </div>
      </div>
      <%= render '/pwb/search/search_form_for_rent' %>
    </div>
    <!-- #secondary -->
  </div>
  <!-- .site-content -->
  <div id="pagination">
  </div>
</div>