<!-- Bristol Theme Form and Map Component - Semantic HTML -->
<section class="contact-us-component">
  <div class="contact-us-container">
    <div class="contact-grid">
      <div class="contact-form-column">
        <%= render 'pwb/sections/contact_us_form' %>
      </div>
      <div class="contact-info-column">
        <%= render '/pwb/props/prop_contact_info' %>
        <% if @current_agency.show_contact_map %>
          <div class="contact-map-wrapper">
            <inmo-map style="min-height: 400px;" :markers="<%= @map_markers.to_json %>"
              :zoom="15">
            </inmo-map>
            <div id="inmo-map-canvas"></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
