<!-- Bristol Theme Search Component - Tailwind CSS -->
<div class="bg-gray-800 py-8">
  <div class="container mx-auto px-4">
    <div class="max-w-4xl mx-auto">
      <%= render '/pwb/search/search_form_landing' %>
    </div>
  </div>
</div>