<!-- Bologna Theme Search Component - Semantic HTML -->
<div class="search-component">
  <div class="search-container">
    <div class="search-wrapper">
      <%= render '/pwb/search/search_form_landing' %>
    </div>
  </div>
</div>
