<%# Footer that appears on every page %>

<footer class="site-footer">
    <div class="site-content">

        <div class="social-links">
            <a class="social-in icon-in" href="http://www.linkedin.com/company/staybay-inc" target="_blank"><em>LinkedIn</em></a>
            <a class="social-twtr icon-twtr" href="https://twitter.com/StayBaycom" target="_blank"><em>Twitter</em></a>
            <a class="social-fb icon-fb" href="https://www.facebook.com/staybayinc" target="_blank"><em>Facebook</em></a>
        </div>

        <nav id="nav-footer">
            <ul>
                <li><%# link_to "About", about_path %> </li>
                <li><%= link_to "Blog", "http://staybayblog.com/", target: "_blank" %> </li>
                <li><%# link_to "FAQ", faq_path %> </li>
                <li><%# link_to "Terms", terms_path %> </li>
                <li><%# link_to "Privacy", privacy_path %> </li>
            </ul>
        </nav>

        <p class="copyright">&copy; 2014 StayBay. All rights reserved.</p>
    </div>
</footer>

