.idea
.yardoc
.DS_Store
.svn
doc/
rdoc/
Gemfile.lock
pkg
tmp
log
.sass-cache
spec/dummy/uploads/
spec/dummy/public/assets
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
.byebug_history
.rvmrc
/coverage/
*.gem
/index/
/.bundle/
.rbenv-version
.ruby-gemset
.ruby-version
app/assets/stylesheets/pwb/dummy.scss
spec/dummy/public/uploads
spec/dummy/config/secrets.yml

spec/dummy/public/css/
spec/dummy/public/img/
spec/dummy/public/js/
spec/dummy/public/capybara.html


notes

spec/features/pwb/admin_spec_tmp.rb
config/locales/admin.zh.yml.tmp

.localeapp