<%# Similar Properties Grid %>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  <% properties.each do |property| %>
    <%= render "property_card", property: property %>
  <% end %>
</div>
