/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bourbon";
@import "airbnb/h5bp";
@import "airbnb/jquery-ui";
@import "airbnb/jquery-ui-theme";
@import "airbnb/base";


.site-content:before, .site-content:after {
  content: " ";
  display: table;
}
/* The lines above from bourbon 3.1.8 are needed to allow search results to poke above background image */
/* line 18, ../../../../../.rbenv/versions/1.9.3-p551/lib/ruby/gems/1.9.1/gems/bourbon-3.1.8/app/assets/stylesheets/addons/_clearfix.scss */

#results section:before, #results section:after {
  content: " ";
  display: table;
}