/*have to define variables below in other theme stylesheets too
as they are used in shared content_areas code*/
$base-bg-color:#fcfcfc;
/*below is slightly darker shade of above pale gray*/
$base-border-color:#e0eded;


@import "bootstrap";
@import "berlin/colors/green-theme.css";
@import "berlin/main";
@import "berlin/slick";
/*<!-- price picker slider -->*/
/*@import "berlin/nouislider";*/
/*@import "berlin/fancybox";*/
@import "berlin/inmo";
@import "default/landing_content_areas";
.services-section {
  border-top: none;
  border-bottom: none;
  background: white;
}
@import "default/language_switcher";


