/*main content section*/
#aa-main .aa-main-area {
    display: inline;
    float: left;
    margin-top: 50px;
    padding: 100px 10px 130px;
    /*text-align: center;*/
    width: 100%;
}

/*bold header at top of most pages - also container for devise forms*/
#top-container {
  /*background-image: url("../img/property-header-bg.jpg");*/
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  display: inline;
  float: left;
  position: relative;
  min-height: 400px;
  width: 100%;
}

#top-container::before {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#top-container .top-container-inner {
  display: inline;
  float: left;
  padding: 150px 0 150px;
  text-align: center;
  width: 100%;
}

@media (min-width: 1024px) {
  #top-container .top-container-inner {
    padding: 150px 0 250px;
  }
}

#top-container .top-container-inner h2 {
  color: #fff;
  letter-spacing: 0.5px;
  margin-top: 65px;
  text-transform: uppercase;
}

#top-container .top-container-inner .breadcrumb {
  background: none;
  border: none;
}

#top-container .top-container-inner .breadcrumb li a {
  color: #fff;
}

#top-container .top-container-inner .breadcrumb li.active {
  color: #fff;
}
