<div class="row">
  <div class="col-sm-12">
    <h3 style="margin: 20px 0px">
      View prop
    </h3>
    <div>
      <div>
          <% @prop["data"].each do |prop_item| %>
            <div>
              <div>
                Name: <%= prop_item["name"].to_s %>
              </div>
              <div>
                Value: <%= prop_item["value"].to_s %>
              </div>
              <div>
                parseinfo: <%= prop_item["parseInfo"].to_s %>
              </div>
            </div>
            <hr>
          <% end %>
      </div>
      ttt
    </div>
  </div>
</div>