/*reapply .container styles for bootstrap to .bst-container
- renamed because .container can cause conflicts with other themes */
.bst-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .bst-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .bst-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .bst-container {
    width: 1170px;
  }
}