.contact-info-panel-body {
  padding: 0px 15px;
}
.contact-info h4 {
  margin-bottom: 2px;
}

.contact-info h5 {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 4px;
}

.contact-info h5 i {
  margin-right: 4px;
  color: #3498db;
}