<% page_title @page_title  %>
<%= render '/pwb/meta_tags' %>

<%# Brisbane Luxury Theme - Landing Page %>

<%# Hero / Dynamic Page Content - Full Width %>
<div class="brisbane-landing">
  <% @page.ordered_visible_page_contents.each do |page_content| %>
    <%= page_part page_content %>
  <% end %>
</div>

<%# Property Listings - Sale %>
<% if @properties_for_sale.length > 0  %>
  <%= render :partial => '/pwb/welcome/single_property_row', :locals => { properties: @properties_for_sale, rent_or_sale: 'for_sale', title_key: 'propertyForSale' }  %>
<% end %>

<%# Property Listings - Rent %>
<% if @properties_for_rent.length > 0  %>
  <%= render :partial => '/pwb/welcome/single_property_row', :locals => { properties: @properties_for_rent, rent_or_sale: 'for_rent', title_key: 'propertyForRent' }  %>
<% end %>
