<!-- Service section -->
<section id="aa-service">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="aa-service-area">
          <div class="aa-title">
            <h2>Our Service</h2>
            <span></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum sit ea nobis quae vero voluptatibus.</p>
          </div>
          <!-- service content -->
          <section class="slice light-gray bb">
            <div class="wp-section services-section">
              <div class="container">
                <div class="row services-wrapper">
                  <% @content_area_cols.each do |content_area_col| %>
                    <div class="col-md-4 ss-cont">
                      <%== content_area_col.raw %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </section>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- / Service section -->