<section class="slice light-gray bb">
  <div class="wp-section">
    <div class="container">
      <div class="row landing-inline-row">
        <div class="col-md-6">
          <div class="section-title-wr">
            <h3 class="section-title left"><span>
                  <%= I18n.t("webContentSections.aboutUs") %>
            </span></h3>
            <div class="aux-nav">
              <!-- Auxiliary content comes here -->
            </div>
          </div>
          <div class="landing-about-us">
              <p>
                <%== @about_us %>
              </p>
          </div>
        </div>
        <div class="col-md-6">
            <div class="">

            </div>
            <div class="" style="display:none;">
            <!-- opening hours -->
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
