<div class="extras-list">
  <% @property_details.extras_for_display.each do |extra| %>
    <span class="label label-default" style="display: inline-block; margin: 3px; padding: 6px 12px; font-size: 13px; font-weight: normal;">
      <i class="fa fa-check"></i> <%= extra %>
    </span>
  <% end %>
</div>

