<section class="slice light-gray bb">
  <div class="wp-section services-section">
    <div class="container">
      <div class="row services-wrapper">
        <% @content_area_cols.each do |content_area_col| %>
          <div class="col-md-4 ss-cont">
            <%== content_area_col.raw %>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</section>
<div class="clearfix"></div>
