/* Variables
-------------------------------------------------------------------------------- */

$break-1: 20em; // 320px;
$break-2: 30em; // 480px;
$break-3: 48em; // 768px;
$break-4: 60em; // 1024px;

$proxima-bold: "Proxima N W01 Bold";
$proxima-regular: "Proxima N W01 Reg", helvetica, arial, sans-serif;
$din-medium: "DIN Next W01 Medium";
$din-regular: "DIN Next W01 Regular";

$line: 1px solid #e6e6e6;