<div class="section">
  <!--   Icon Section   -->
  <div class="row">
    <% @content_area_cols.each do |content_area_col| %>
      <div class="col s12 m4">
        <div class="card-panel service-panel center teal">
          <%== content_area_col.raw %>
        </div>
      </div>
    <% end %>
  </div>
</div>