<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container-off">
      <br>
      <br>
      <h1 class="header center teal-text text-lighten-2">Parallax Template</h1>
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
      </div>
      <br>
      <br>
    </div>
  </div>
  <div class="parallax"><img src="<%= opt_image_url((@carousel_items[0].default_photo), :quality => "auto", crop: "scale", class: "") %>" alt="Unsplashed background img 1"></div>
</div>
<div class="container-off-off">
  <%= render '/pwb/welcome/content_area_cols' %>
</div>
<% if @properties_for_sale.length > 0  %>
  <%= render :partial => '/pwb/welcome/single_property_row', :locals => { properties: @properties_for_sale, rent_or_sale: 'for_sale', title_key: 'propertyForSale' }  %>
<% end %>
<% if @properties_for_rent.length > 0  %>
  <%= render :partial => '/pwb/welcome/single_property_row', :locals => { properties: @properties_for_rent, rent_or_sale: 'for_rent', title_key: 'propertyForRent' }  %>
<% end %>