<!-- <p> <div class=''><%= @flash %></div></p> -->
<% @error_messages.each do |key| %>
  <div class="bg-red-50 border border-red-200 text-red-800 px-4 py-3 rounded relative mb-4" role="alert">
    <button type="button" class="absolute top-0 right-0 px-4 py-3" onclick="this.parentElement.remove()">
      <span class="text-red-500 hover:text-red-700">&times;</span>
    </button>
    <ul class="list-none">
      <li>
        <%= key %>
      </li>
    </ul>
  </div>
<% end %>

