<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PropertyWebBuilder Admin</title>
    <!-- <meta name="robots" content="index, follow"> -->
    <%# display_meta_tags site: @current_agency.tenant_display_name %>
    <%= stylesheet_link_tag    "pwb_admin_panel/application", media: "all" %>
    <%= javascript_include_tag "pwb_admin_panel/application" %>
    <%= csrf_meta_tags %>

    <base href="/" />
    <%# Fonts loaded via Fontsource in Tailwind CSS - no Google Fonts needed %>
  </head>
  <body class="">
    <%= yield %>
  </body>
</html>