<!DOCTYPE html>
<html>
<head>
  <title>Pwb</title>
  <%= stylesheet_link_tag    "pwb/application", media: "all" %>
  <%= javascript_include_tag "pwb/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
