<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img alt="" src="<%= page_part["our_agency_img"]["content"] %>" class="img-responsive">
    </div>
    <div class="col-md-6">
      <div class="section-title-wr mt-40">
        <h3 class="section-title left">
          <span>
            <%= page_part["title_a"]["content"] %>
          </span>
        </h3>
      </div>
      <div>
        <p>
          <%= page_part["content_a"]["content"] %>
        </p>
      </div>
    </div>
  </div>
</div>