<footer class="footer fondo_footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 copyright">
        © <%= t 'copyright' %>.
            </div>
      <div class="col-lg-3 social">

      </div>
    </div>
  </div>
</footer>