<!-- MAIN CONTENT -->
<section class="slice bg-white bb">
  <div class="wp-section estate">
    <div class="container">
      <div class="row">
        <div class="col-md-9" style="min-height:300px;">
          <h2>
            <%= t "pageNotFound" %>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FOOTER -->

