footer {
  padding-top: 15px;
  padding-bottom: 20px;
  min-height: 30px;
  /*background: #232323
  replaced with fondo_secundario
  */
}


/*footer {
  padding-bottom: 5px;
}
*/

footer:before,
footer:after {
  display: table;
  content: " ";
}

footer:after {
  clear: both;
}

footer a {
  color: #ccc;
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
}

footer .copyright {
  color: #fff;
}

header {
  .text-navbar-brand {
    padding-top: 24px;
    font-size: 2.5em;
  }
  .top_header {
    color: #fff;
    width: 100%;
    clear: both;
    font-size: 14px;
    padding: 5px 0 3px 0;
  }
  .top_header {
    font-family: 'PT Sans', sans-serif;
  }
}

header.top_header {
  min-height: 25px;
}


/*start sticky footer*/


/*http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page*/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.body-wrap {
  min-height: 100%;
  position: relative;
}


/*#header {
   background:#ff0;
   padding:10px;
}
section.slice {
   padding:10px;
   padding-bottom:60px;  
}*/

.fondo_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*height:60px;   */
  /*background:#6cf;*/
}


/*end sticky footer*/

.social-default .fa {
  padding-right: 4px;
}


/*breadcrumbs row - strictly speaking not header*/

.pg-opt {
  border-bottom: 1px solid #e0eded;
  background: #fcfcfc;
  color: #333
}

.pg-opt h2 {
  margin: 0;
  padding: 16px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  text-transform: capitalize;
  color: #333
}

.pg-opt .breadcrumb {
  float: right;
  margin: 0;
  padding: 16px 15px 16px 0;
  padding-right: -15px;
  background: transparent;
  border-radius: 0
}

.pg-opt .breadcrumb a {
  color: #333
}

.pg-opt .breadcrumb a:hover {
  color: #3498db
}

.pg-opt .breadcrumb li.active {
  color: #333
}

@media only screen and (max-width:767px) {
  .pg-opt .pg-nav {
    float: left;
    margin-bottom: 10px
  }
  .pg-opt h2 {
    padding: 20px 0 0 0
  }
}


/* menu */

ul.mega-nav-ul li {
  margin-left: 10px;
}

ul.mega-nav-ul li a:hover {
  text-decoration: underline;
}

ul.navbar-right li.selected {
  position: relative;
}

ul.navbar-right li.selected a:after {
  top: 0;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #fff;
  border-width: 10px;
  margin: -3px 0 0 -10px;
}

ul.navbar-right li.selected a:hover:after {
  display: none;
}
