.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.nav:before,
.nav:after {
  content: " ";
  display: table;
}

.nav:after {
  clear: both;
}

.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar:before,
.navbar:after {
  content: " ";
  display: table;
}

.navbar:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}

.navbar-header:before,
.navbar-header:after {
  content: " ";
  display: table;
}

.navbar-header:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}

.navbar-collapse:before,
.navbar-collapse:after {
  content: " ";
  display: table;
}

.navbar-collapse:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
}

.container > .navbar-header,
.container > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 768px) {
  .container > .navbar-header,
  .container > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-brand > img {
  display: block;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle:focus {
  outline: 0;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
}

header .navbar-wp .navbar-brand {
  height: auto;
  padding: 0 15px;
  margin-top: 14px;
  /*border: 1px solid transparent;*/
  border-radius: 3px;
}

header .navbar-wp .navbar-brand img {
  height: 46px;
}

.navbar-wp {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  z-index: 1000;
  background: #fff;
  /*border-bottom: 1px solid #e0eded;*/
}

.navbar-wp .navbar-nav > li > a {
  /*border-top: 3px solid transparent;*/
  border-top: 4px solid transparent;
  padding: 28px 16px;
  margin-right: 0;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #333;
  text-transform: uppercase;
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  transition: all 0.25s ease-out;
}

.navbar-wp .navbar-nav > li > a:hover,
.navbar-wp .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #3498db;
  border-top: 3px solid #3498db;
}

.navbar-toggle .icon-custom {
  font-size: 16px;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  background-color: #3498db;
  border-color: #3498db;
}

.navbar-toggle:hover .icon-custom,
.navbar-toggle:focus .icon-custom {
  color: #fff;
}

.navbar-toggle {
  border-color: #333;
  border-radius: 2px;
  margin-top: 20px;
  color: #333;
  padding: 12px 16px 7px 16px;
}

.navbar-wp .navbar-nav {
  margin-top: 0;
}

.navbar-wp .navbar-collapse {
  border-color: #e7e7e7;
}

.mega-nav .nav,
.mega-nav .collapse {
  position: static;
}

.mega-nav .container {
  position: relative;
}

.navbar-wp .navbar-nav > li > a:hover,
.navbar-wp .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #3498db;
}

header .navbar-wp .navbar-brand {
  overflow: hidden;
  height: 80px;
}

.navbar-wp .navbar-nav>li>a:hover,
.navbar-wp .navbar-nav>li>a:focus,
.panel-base .panel-heading {
  background: #f1c40f !important;
  color: #fff;
}

header .navbar-wp .navbar-brand img {
  height: 81px;
}

header .navbar-wp .navbar-brand {
  /*avoid white line around logo*/
  margin-top: 0px;
  margin-bottom: 0px;
}


/*large screen first and then std dktp */

@media (max-width: 991px) {
  .navbar-header {
    float: none;
    overflow: hidden;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .navbar-wp .navbar-brand {
    /*margin: 14px auto;*/
    float: none;
    padding: 0 15px;
    display: inline-block;
    /*avoid white line around logo*/
    margin-bottom: -6px;
  }
  .navbar-wp .navbar-collapse {
    background-color: #fff;
  }
  .navbar-wp .navbar-nav > li {
    border-bottom: 1px solid #e0eded;
  }
  .navbar-wp .navbar-nav > li > a {
    color: #333;
    padding: 10px 20px !important;
    margin-right: 0;
  }
  .navbar-wp .navbar-nav > li > a:after {
    content: "+";
    position: relative;
    float: right;
  }
  .navbar-wp .navbar-nav > li > a:hover,
  .navbar-wp .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #3498db;
    border-radius: 0 !important;
  }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 768px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}
