<div class="landing-search-container row fondo_secundario">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <%= render '/pwb/search/search_form_landing' %>
  </div>
  <div class="col-md-1"></div>
</div>