<h1>liquid</h1>
<div class="jumbotron">
  <div class="jumbotron-left">
    <div id="landingHero" class="carousel carousel-1 carousel-fixed-height slide">
      <div class="carousel-inner">
          <div class="item item-dark active"
          style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url({{page_part["landing_img"]["content"] }});" >
            <div class="">
              <div class="carousel-content">
                {{ page_part["landing_content_a"]["content"] }}
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
  <div class="jumbotron-right">
  </div>
</div>
