<% page_title @page_title  %>
<%= render '/pwb/meta_tags' %>

<div class="container mx-auto px-4 py-8">
  <%# Dynamic Page Content %>
  <% @page.ordered_visible_page_contents.each do |page_content| %>
    <%= page_part page_content %>
  <% end %>

  <%# Property Listings %>
  <% if @properties_for_sale.length > 0  %>
    <%= render :partial => '/pwb/welcome/single_property_row', :locals => { properties: @properties_for_sale, rent_or_sale: 'for_sale', title_key: 'propertyForSale' }  %>
  <% end %>
  
  <% if @properties_for_rent.length > 0  %>
    <%= render :partial => '/pwb/welcome/single_property_row', :locals => { properties: @properties_for_rent, rent_or_sale: 'for_rent', title_key: 'propertyForRent' }  %>
  <% end %>
</div>
