<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lookbook Preview</title>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>
<body class="lookbook-preview">
  <div style="padding: 1rem;">
    <%= yield %>
  </div>
</body>
</html>
